// Colors
$blue: #1c88bf;
$dark-blue: #364051;
$dark-grey: #333;
$grey: #666;
$light-grey: #f7f7f7;

// Fonts
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;

// Sizes sjkyee
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: $m-size * 2;
$xl-size: $m-size * 2.5;

// media query
$desktop-breakpoint: 45rem;