// Colors
$blue: #1c88bf;
$dark-grey: #333;

// Fonts
$font-size-large: 1.8rem;

// Sizes sjkyee
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: $m-size * 2;
$xl-size: $m-size * 2.5;

// media query
$desktop-breakpoint: 45rem;